html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #006994;
    font-family: Arial, Helvetica, sans-serif;
}

#mapa {
    width: 1365px;
    height: 655px;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 47%;
}

.circulo {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 30px;
    border: 2px solid black;
}

.circulo:hover {
    background-color: yellow;
}

#palma {
    margin-left: 540px;
    margin-top: 320px;
}

#llucmajor {
    margin-left: 720px;
    margin-top: 335px;
}

#inca {
    margin-left: 725px;
    margin-top: 190px;
}

#manacor {
    margin-left: 840px;
    margin-top: 305px;
}

#arta {
    margin-left: 900px;
    margin-top: 220px;
}

.circulo .nombre {
    /* visibility: hidden; */
    width: 90px;
    background-color: white;
    border: 2px solid black;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -40px;
    right: -40px;
    font-weight: bold;
}

.circulo .nombre::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -6px;
    border-width: 5px;
    border-top: 9px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
/* 
.circulo:hover .nombre {
    visibility: visible;
} */